<div class= 'container-fluid mt-5'>
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-6">
       <%= image_tag("music", class: 'card-img') %>
    </div>
    <div class="col-md-6">
      <div class="card-body">
     <h3>Log in</h3>
  <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
  <%= f.submit "Log in", class: "btn mt-3 btn-orange" %>
  <% end %>
<p>New user? <%= link_to "Sign up now!", signup_path, class: 'text-dark' %></p>
      </div>
    </div>
  </div>
</div>
</div>

