<% if %>
<div class= 'row'>
<div class = 'container-fluid p-0'>
<div class= 'col sm-12 main-img'>
  <%= image_tag("fantasy-3879972_960_720", class: 'img') %> 
    <div class="bottom-left-main">
    <h6 id= 'current' class= 'font-weight-bold ml-3'>RnB</h6>
    <p class= 'text-white font-weight-bold ml-3'>Justin beiber new hit song has remain on the number 1 position for two weeks and he is currently nominated as the song of the year</p>
    </div>
</div>
</div>
</div>
<!-- categories -->
 <div id="portfolio">
<div class="container-fluid p-0">
<div class="row no-gutters">
<div class="col-sm-3 bg">
 <%= image_tag("fantasy-3879972_960_720", class: 'image') %>
 <div class="top-left">
    <h6 class= 'font-weight-bold text-white img-bottom'>Afro-Music</h6>
    </div>
 <div class="bottom-left">
    <p class= 'text-white font-weight-bold'>Top ten naija music</p>
    </div>
</div>
<div class="col-sm-3 bg">
 <%= image_tag("fantasy-3879972_960_720", class: 'image') %>
 <div class="top-left">
    <h6 class= 'font-weight-bold text-white img-bottom'>Pop</h6>
    </div>
 <div class="bottom-left">
    <p class= 'text-white font-weight-bold'>Justin beiber new hit song</p>
    </div>
</div>
<div class="col-sm-3 bg">
 <%= image_tag("fantasy-3879972_960_720", class: 'image') %>
 <div class="top-left">
    <h6 class= 'font-weight-bold text-white img-bottom'>RnB</h6>
    </div>
 <div class="bottom-left">
    <p class= 'text-white font-weight-bold'>The popular 1980's rnb song</p>
    </div>
</div>
<div class="col-sm-3 bg">
 <%= image_tag("fantasy-3879972_960_720", class: 'image') %>
 <div class="top-left">
    <h6 class= 'font-weight-bold text-white img-bottom'>Hip-Hop</h6>
    </div>
 <div class="bottom-left">
    <p class= 'text-white font-weight-bold '>Dababy flow of rap</p>
    </div>
</div>
</div>
</div>
</div>
           