<%= render 'shared/errors', obj: @article %>
<div class= 'container-fluid mt-5'>
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-6">
       <%= image_tag("music", class: 'card-img', id: 'img-h') %>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h3>Create an Article</h3>
         <%= form_for(@article, :html => { multipart: true, class: "shadow p-1 mb-4 bg-success rounded", role: "form" }) do |f| %>
        <div class="form-group row">
          <%= f.label :title, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.text_field :title, class: "form-control shadow rounded", placeholder: "Title of article" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :text, class: "col-2 col-form-label text-light" %>
          <div class="col-10"> 
            <%= f.text_area :text, rows: 10, class: "form-control shadow rounded", placeholder: "Description of article" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :image, :class => 'col-2 col-form-label text-light' %>
         <div class="col-lg-10">
          <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
       </div>
        </div>

        <div class="form-group row">
          <%= f.label :category, class: "col-2 col-form-label text-light" %>
          <div class="col-10"> 
            <%= f.collection_select(:category_ids, Category.all, :id, :name,
            { prompt: "Make your selection from the list below (can't be empty)"}, { multiple: true, size: 3, class: "custom-select shadow rounded" }) %>
          </div>
          </div>

        <div class="form-group row justify-content-center">
          <%= f.submit class: "btn btn-outline-light btn-lg" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
</div>
