<div class= 'container mt-3'>
<div class= 'img-article'>
<%= image_tag @article.image.url%>
</div>
<h1 class=" text-center font-weight-bold"><%= @article.title%></h1>
<p class="text-center"><%= @article.text%></p>
<span class= 'font-weight-bold'>Written by : <strong><%= @article.author.name %> </strong></span>
 <%= pluralize(@article.votes.count, 'Vote') %>
       <% if !@article.voted?(current_user.id)%>
        <%= link_to '<i class="fa fa-thumbs-up"></i>'.html_safe, upvote_article_path(@article), method: :post%>
        <% else %>
        <span><%= link_to '<i class="fa fa-thumbs-down"></i>'.html_safe, downvote_article_path(@article), method: :delete%></span>
        <% end %>
</div>
