<%= render 'shared/errors', obj: @user %>
<div class= 'container-fluid mt-5'>
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-6">
       <%= image_tag("session.jpg", class: 'card-img') %>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h3>Sign Up</h3>
        <%= form_with(model: @user, local: true) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
        <%= f.submit "Submit", class: 'btn mt-3 btn-orange'%>
    <% end %>
      </div>
    </div>
  </div>
</div>
</div>