<div class= 'container-fluid mt-5'>
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-6">
       <%= image_tag("music", class: 'card-img') %>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h3>Create a Category</h3>
        <%= form_with(model: @category, class: "shadow p-3 mb-3 bg-success rounded", local: true) do |f| %>
        <div class="form-group row">
          <%= f.label :name, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.text_field :name, class: "form-control shadow rounded", placeholder: "Title of article" %>
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <%= f.submit class: "btn btn-outline-light btn-lg" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
</div>