<div class="row no-gutters">
<div class="col-sm-6">
<div class="card mb-3 card-height">
  <div class="row no-gutters">
    <div class="col-md-6">
    <% @category_articles.each do |article| %>
      <%= image_tag(article.image.url, class: 'card-img') %>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title" id= 'current'><%= @category.name %></h5>
        <h5 class="card-text font-weight bold"><%= article.title %></h5>
        <p class="card-text"><%= truncate(article.text, length: 75) %></p>
        <h6 class="card-title" id= 'current'>Author: <%= article.author.name %></h6>
        <%= pluralize(article.votes.count, 'Vote') %>
        <%= link_to '<i class="fa fa-thumbs-up"></i>'.html_safe, upvote_article_path(article), method: :post%>
        <span><%= link_to '<i class="fa fa-thumbs-down"></i>'.html_safe, downvote_article_path(article), method: :delete%></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
