<nav class="navbar navbar-expand-lg navbar-light bg-white nav-bottom">
  <%= link_to 'Navbar', root_path, class: 'navbar-brand text-secondary' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
     <% if logged_in? %>
      <li class="nav-item">
        <%= link_to 'Home', root_path, class: 'nav-link font-weight-bold', id: 'current' %>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="#">Create an Article</a>
        <%= link_to 'Create an Article', new_article_path %>
      </li>
       <% end %>
    </ul>
     <ul class="navbar-nav ml-auto">
        <li class="nav-item">
        <%= link_to 'Login', login_path, class: 'nav-link font-weight-bold' %>
      </li>
      <li class="nav-item" id="border-l">
          <%= link_to 'Register', signup_path, class: 'nav-link font-weight-bold' %>
      </li>
        </ul>
  </div>
</nav>